## mako

<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("Contact Form")}</%block>
<script src="https://www.google.com/recaptcha/api.js?explicit&hl=en" async defer></script>
<link rel="stylesheet" type="text/css" href="${static.url('eol_contact_form/css/main.css')}"/>
<%
data = context.get('data', None)
%>

<main id="eol-contact" aria-label="Content" tabindex="-1" role="main" class="static_pages mt-0 eol-bg w-100 mx-auto contact-form" style="background-image: url(${static.url('open-uchile-theme/images/svg-2023/nodos_transparentes.png')});">
    <div class="container eol-content-container py-2 px-2 mx-auto">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0 pb-0">${_("Contact Form")}</h1>
                <p class="text-center mt-0 pt-0 text-muted">${_("Fill out the form to contact our Help Desk and we will get back to you as soon as possible. Our office hours are Monday to Friday from 09:00 to 18:00 hrs (Santiago, Chile).")}</p>
            </div>
            <div class="contact-card col-11 col-md-10 col-lg-8 mx-auto shadow-lg px-5 py-4 mt-2 mb-5 bg-white rounded-lg">
                <form method="POST">
                    % if context.get('send_email_error', None):
                    <div class="alert error">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>${_("Try Again")}</strong><br>${_("There was a problem trying to send your message.")}<br>${_("If the problem persists, send an email to")} ${help_desk_email}
                    </div>
                    % endif
                    % if context.get('error', None):
                    <div class="alert error">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong> ${_("Enter a valid {error}").format(error=context.get('error', None))}
                    </div>
                    % endif
                    % if context.get('success', None):
                    <div class="alert success">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>${_("Message sent!")}</strong>. ${_("Wait for our help desk to contact you")}
                    </div>
                    % endif
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                    <input type="hidden" name="form-referrer" id="form-referrer"/>

                    <div class="form-group">
                        <label for="form-name">${_("Please enter your full name")}</label>
                        <input type="text" class="form-control" id="form-name" name="form-name" required placeholder='${_("Example: first and last name")}' value="${data['form-name']}">
                    </div>
                    <div class="form-group">
                        <label for="form-email">${_("Please provide us with an e-mail address where we can contact you")}</label>
                        <input type="email" class="form-control" id="form-email" name="form-email" required placeholder='${_("Example: xxxxxxx@xxxx.xxx")}' value="${data['form-email']}">
                    </div>
                    <div class="form-group">
                        <label for="form-type">${_("Please tell us which category your question belongs to")}</label>
                        <select class="form-control" id="form-type" required name="form-type" style="text-indent: 0px; height: auto;">
                            <option disabled selected value="">${_("Select a category")}</option>
                            <optgroup label='${_("Specific course questions")}' >
                                <option value='${_("Issuance of Certificates")}'>${_("Issuance of Certificates")}</option>
                                <option value='${_("Where to find the course programs")}'>${_("Where to find the course programs")}</option>
                                <option value='${_("Problems in the progress")}'>${_("Problems in the progress")}</option>
                                <option value='${_("Content of a course")}'>${_("Content of a course")}</option>
                                <option value='${_("Administrative")}'>${_("Administrative")}</option>
                                <option value='${_("Evaluations")}'>${_("Evaluations")}</option>
                            </optgroup>
                            <optgroup label='${_("Technical problems")}'>
                                <option value='${_("Login problems")}'>${_("Login problems")}</option>
                                <option value='${_("Identity verification")}'>${_("Identity verification")}</option>
                                <option value='${_("Platform errors")}'>${_("Platform errors")}</option>
                            </optgroup>
                            <optgroup label='${_("Use of the platform")}'>
                                <option value='${_("Creation of courses")}'>${_("Creation of courses")}</option>
                                <option value='${_("Teacher training")}'>${_("Teacher training")}</option>
                                <option value='${_("Honor code")}'>${_("Honor code")}</option>
                            </optgroup>
                            <optgroup label='${_("Other")}'>
                                <option value='${_("Congratulations")}'>${_("Congratulations")}</option>
                                <option value='${_("Comments or suggestions")}'>${_("Comments or suggestions")}</option>
                                <option value='${_("Complaints")}'>${_("Complaints")}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-course-name" for="form-course">${_("Please tell us the name of the course")}</label>
                        <input class="form-course-name form-control" type="text" id="form-course" name="form-course" placeholder='${_("Example: Course name")}' value="${data['form-course']}">
                    </div>
                    <div class="form-group">
                        <label class="form-identifier-text" for="form-identifier">${_("Please indicate your RUT, DNI or passport")}</label>
                        <input class="form-identifier-text form-control" type="text" id="form-identifier" name="form-identifier" placeholder='${_("Example: RUT, DNI o passport")}' value="${data['form-identifier']}">
                    </div>
                    <div id="eol-link" class="my-3">
                        <p>
                            * ${_('For more information, please visit ')}<a href="https://oficinaeol.uchile.cl/">${_('EOL')}</a>
                        </p>
                    </div>
                    <div id="honor-link" class="my-3">
                        <p>
                            * ${_('For more information, please visit ')}<a href="/honor">${_('Terms and Conditions')}</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="form-message">${_("Please tell us more about your question")}</label>
                        <textarea class="form-control" id="form-message" name="form-message" required placeholder='${_("Enter more details about what you want to tell us")}' minlength="8">${data['form-message']}</textarea>
                    </div>
                    <center>
                        <div class="google-recaptcha">
                            <div class="g-recaptcha" data-sitekey="${context.get('recaptcha_site_key', None)}" data-callback="correctCaptcha" data-expired-callback="correctCaptcha"></div>
                        </div>
                        <input disabled class="btn mx-auto my-3 py-2 px-5 btn-outline-light form-submit" type="submit" value="${_('Submit message')}">
                    </center>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="${static.url('eol_contact_form/js/main.js')}"></script>
</main>
